<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>D:\PROJECTS\YourSafe\PasswordTool.Core\bin\x64\Release\\win-x64\publish\</PublishDir>
    <PublishUrl>D:\PROJECTS\YourSafe\PasswordTool.Core\bin\x64\Release\\win-x64\publish\</PublishUrl>
    <SelfContained>true</SelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
  </PropertyGroup>
</Project>